@using productsDetails.ViewModels


@{
    ViewData["Title"] = "AddProductsToStock";
}

@model StockViewModel

<h2>Add Products To this Stock</h2>
<hr />
<h3>Stock Details:</h3>
<dl class="row">
    <dd>
        @Html.HiddenFor(model=>model.stock.skuId)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.stock.StockStatus)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.stock.StockStatus)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.stock.StockReceiveDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.stock.StockReceiveDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.stock.StockTotalCost)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.stock.StockTotalCost)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.stock.SupplierId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.stock.SupplierId)
    </dd>
</dl>
<div class="mt-5">
    <h3>
        Products Form
    </h3>
</div>
<form asp-action="AddProductsToStock" method="post" enctype="multipart/form-data">
    @for(int it=0; it<Model.stock.ProductNumber; it++)
    {
        <partial name="_ProductForm" model="Model.products[it]" />
    }
    <button type="submit">Submit</button>
</form>




