@model productsDetails.Models.Stock

@{
    ViewData["Title"] = "StockDetails";
}

<h1>StockDetails: </h1>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stockStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stockStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stockTotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stockTotalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.supplierId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.supplierId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="UpdateData" asp-route-id="@Model?.skuId">Edit</a> |
    <a asp-action="StockList">Back to List</a>
</div>
